<div class="cf">
	<div id="image">
		<img src="{{ photo }}" alt="{{ title }}" >
		{{ if prev  !=  url }}<a href="{{ prev }}" class="link-right">&nbsp;</a>{{ endif }}
		{{ if next  !=  url }}<a href="{{ next }}" class="link-left">&nbsp;</a>{{ endif }}		
	</div>
	<div id="image-navigate-container" class="inside">
		{{ if next  !=  url }}<a href="{{ next }}" class="image-navigate-left" id="next_page_link">≪ Next Photo</a>{{ endif}}
		<?php if (isset($_GET['fold'])) { ?>
				<a href="{{ permalink }}" class="image-navigate-center">&mdash; Fold away tags & comments</a>
		<?php } else { ?>
				<a href="{{ permalink }}?fold#the-fold" class="image-navigate-center">&#xFF0B; Fold out tags & comments</a>
		<?php } ?>
	    {{ if prev  !=  url }}<a href="{{ prev }}" class="image-navigate-right" id="previous_page_link">Previous Photo ≫</a>{{ endif}}	
	</div>
	<div class="content" >
		<div class="inside" >
			<h2>{{ title }}</h2>
			{{ content }}
			<p class="metadata">
				{{ exif imagepath='{photo}' }}
					{{ if model }} <!-- If model exists render all Exif -->
						Shot with {{ indefinite_article}} {{ camera }}, with {{ aperture }} at {{ exposure }}, with a focal length of {{ flenght }}.
					{{ endif }}
				{{ /exif }}
				Published on {{ datestamp format="F jS, Y" }}.
			</p>

			<?php if (isset($_GET['fold'])) { ?> <!-- Are comments on? -->
			
			<div id="the-fold">
					{{ if tags }}
						<p class="tags">
							{{ tags }}
							<a href="{{ url }}">{{ name }}</a>
						{{ /tags }}
						</p>
					{{ endif }}
					
					<h3 class="comment-header">Comments</h3>
					<ul id="comments">
					{{ commentatic:listing }}
				    	
				          {{ if no_results }}
				            <li>Be the first to leave a mark. Use the form below.</li>
				          {{ else }}
				          	<li{{ if email=='joakim@hertze.com' }} class="joakim" {{ endif }}><p class="comment-meta">{{ if website !="" }}<a href="{{ website }}">{{ username }}</a>{{ else }}{{ username }}{{ endif }}, on <em>{{ last_modified format="F jS, Y" }}:</em></p>{{ content }}</li>
				          {{ endif }}
				  
				    {{ /commentatic:listing }}
				    </ul>  
				    {{ commentatic:form honeypot="true" id="post-comment" }}
					      {{ if error}}
					          <h2>Error</h2>
					          <ul>
					          {{ errors }}
					              <li>{{error}}</li>
					          {{ /errors }}
					          </ul>
					      {{ endif }}
					  
					      {{ if success }}
					          <p>Your message has been sent!</p>
					      {{ else }}
					          {{ if logged_in }}
					          
					            <p>Logged in as <strong>{{ username }}</strong> | <a href="{{ member:logout return='{ url }' }}">Log out</a></p>
					          
					          {{ else }}
					          <p>
					              <input type="text" name="username" id="username" value="{{ post:username }}" placeholder="Your username or real name (required)">
					          </p>
					          <p>
					              <input type="text" name="email" id="email" value="{{ post:email }}" placeholder="Your email address (required)">
					          </p>
					          <p>
					              <input type="text" name="website" id="website" value="{{ post:website }}" placeholder="Your website address">
					          </p>
					          {{ endif }}
					          <p>
					            <textarea class="span6" type="text" rows="5" name="comment" id="comment" placeholder="Your thoughts here!">{{ post:comment }}</textarea>
					          </p>
					          <p><input value="Send comment" type="submit"></p>
					      {{ endif }}
					  {{ /commentatic:form }}
			</div>		
			<?php } ?>
			
		</div>
	</div>
</div>
