<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Photography by Joakim Hertze">
  <meta name="author" content="Joakim Hertze">
  <title>{{ _site_name }} — {{ title }}</title>
  <link rel="alternate" type="application/atom+xml" title="magic at high ISO" href="http://magiso.com/feed">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{ theme:css }}" />
  <script type="text/javascript" src="//use.typekit.net/mfp5lcv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript"> document.onkeydown = function() { alert (event.keyIdentifier); }; </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  
  <!-- Connect arrow keys to post navigation -->
  <script type="text/javascript">
    $(document).ready(function() {
            document.onkeydown = function() 
                {
                    var j = event.keyIdentifier
                    if (j == "Left")
                        window.location = nextUrl
                    else if (j == "Right")
                        window.location = prevUrl            
                        }
                   });
      $(document).ready(function() {
                    var nextPage = $("#next_page_link")
                    var prevPage = $("#previous_page_link")
                    nextUrl = nextPage.attr("href")
                    prevUrl = prevPage.attr("href")
                });
  </script>
</head>
<body>
	<div class="whitebg">
	
		<div id="header-container" class="inside">
			<div id="header-headline"><a href="/">{{ _site_name }}</a></div>
			<div id="header-navigation">
				<a href="/">this just in</a> | <a href="/archive/">archive</a> | <a href="/feed">subscribe</a> | <a href="/colophone/">colophone + contact</a>
			</div> <!-- id="header-navigation" -->
		</div> <!-- id="header-container" -->
          
          {{ layout_content }}

          <div id="footer">
	          &copy; Joakim Hertze
	      </div> <!-- id="footer" -->
	</div> <!-- class="whitebg"-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38172288-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>